@charset: UTF-8;

/* 全体 */
body {
	color: #555555;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, Verdana, sans-serif;
	line-height: 1.5em;
}
.wrapper {
	background: #f1f1f1;
}
.row {
	background: #ffffff;
}

/* テキスト */
h1 {
	margin: 0 0 0.5em 0;
	font-size: 3em;
}
h2 {
	margin: 0.5em 0;
	font-size: 1.2em;
}
a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #21a9e1;
}

/* チェックボックス */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul ul label {
	padding-left: 2em;
}
ul > li:hover {
	background: #f1f1f1;
}
ul ul > li:hover {
	background: #e1e1e1;
}
label {
	display: block;
}
input[type="checkbox"]{
	margin: auto 5px;
	height: 2em;
	width: 2em;
	line-height: 2em;
}

/* ボタン */
button {
	margin: 0;
	padding: 8px 20px;
	font-size: 1em;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 0.2em;
	background: #bbbbbb;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}
#save {
	background: #B1CD4B;
}
#save, #clear {
	margin: 15px 0px;
	padding: 20px 40px;
}
#tweet {
	color: #ffffff;
	background: #21a9e1;
}
#tweet-count {
	margin-bottom: 13px;
	padding: 5px;
	width: 95px;
	color: #777777;
	font-size: 1.1em;
	text-align: center;
	position: relative;
	background: #ffffff;
	border: 1px solid #afafaf;
	border-radius: 3px;
}
#tweet-count:after, #tweet-count:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#tweet-count:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
#tweet-count:before {
	border-color: rgba(175, 175, 175, 0);
	border-top-color: #afafaf;
	border-width: 11px;
	margin-left: -11px;
}
#tweet-count a {
	display: block;
}

/* タブ */
#output {
	width: 680px;
	*zoom: 1;
	border: 1px solid #dddddd;
	border-radius: 0.1875em;
	margin-bottom: 1.5em;
}
#output:before, #output:after {
	content: " ";
	display: table;
}
#output:after {
	clear: both;
}
#output {
	border: none;
}
#output li.tab {
	display: inline;
}
#output li.tab:first-child a.tab-link {
	border-top-left-radius: 0.1875em;
	border-top-right-radius: 0.1875em;
	border-top: 0;
}
#output li.tab:last-child a.tab-link {
	border-bottom-left-radius: 0.1875em;
	border-bottom-right-radius: 0.1875em;
}
#output li.tab:last-child a.tab-link {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#output li.tab a.tab-link {
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
	color: #555555;
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 0.75em 0.809em;
} 
#output li.tab a.tab-link {
	display: inline-block;
	vertical-align: baseline;
	zoom: 1;
	*display: inline;
	*vertical-align: auto;
	border-top: 0;
	border-top-right-radius: 0.1875em;
	border-top-left-radius: 0.1875em;
}
#output li.tab a.tab-link:hover {
	color: #477dca;
}

#output li.tab a.tab-link:focus {
	outline: none;
}

#output li.tab a.tab-link.is-active {
	background-color: #f7f7f7;
	border-bottom: 0;
}

#output li.tab a.tab-link.is-active {
	background-color: #f7f7f7;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #f7f7f7;
	margin-bottom: -1px;
}
#output li.tab section {
	padding: 1.5em 1.618em;
	background: #f7f7f7;
	display: none;
	overflow: hidden;
	width: 100%;
}
#output li.tab section {
	border-bottom-left-radius: 0.1875em;
	border-bottom-right-radius: 0.1875em;
	border: 1px solid #dddddd;
	float: left;
	left: 0;
	padding: 0.75em 0.809em;
}
#output li.tab section p {
	-webkit-columns: 1;
	-moz-columns: 1;
	columns: 1;
}